@use "../../styles/definitions" as *;

footer {
  padding: 1em 0;
  background: $secondary-background;
  color: $secondary-text-color;

  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  a {
    color: inherit;
  }
}
