@use "@tietokilta/ilmomasiina-components/src/styles/definitions" as *;

.navbar {
  background: $primary;
  margin-bottom: 1.5rem;
}

.navbar-brand {
  display: flex !important;
  align-items: center;
  color: color-yiq($primary) !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-logo {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
  display: if($header-logo, block, none);
}
